.legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  h3 {
    font-size: 0.9vw;
    font-weight: 500;
    margin: 20px;
  }
  .legendItems {
    justify-content: space-between;
    width: 25%;
    margin: 20px;
    display: flex;
    color: #74798C;
    font-size: 0.7vw;
    span {
      margin-right: 5px;
    }
  }
}
