// Colors

$ColorPrimary: #ff0101;
$ColorBlack: #282d30;
$ColorWhite: #fff;
$ColorGrey: #fbfbfb;

// Fonts

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$DefaultFont: "Roboto";
