// Colors

$ColorPrimary: #ff0101;
$ColorBlack: #282D30;
$ColorWhite: #fff;
$ColorGrey: #FBFBFB;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$DefaultFont: 'Roboto';