.card-container {
  &-activity {
    height: 35vh;
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 5px;
    margin-bottom: 3vh;
  }
  &-average {
    position: relative;
    height: 30vh;
    width: 31%;
    background-color: red;
    border-radius: 5px;

    h3 {
      position: absolute;
      top: 2em;
      left: 2em;
      color: rgba(255, 255, 255, 0.7);
      z-index: 1;
      font-size: 0.9vw;
    }
  }
  &-performance {
    height: 30vh;
    width: 31%;
    background-color: #282d30;
    border-radius: 5px;
  }
  &-score {
    height: 30vh;
    width: 31%;
    background-color: #fbfbfb;
    border-radius: 5px;
    position: relative;
    h3 {
      position: absolute;
      margin: 20px;
      font-size: 0.9vw;
    }
    .score-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 145px;
      height: 145px;
      border-radius: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1rem;
    }
    strong {
      display: block;
      text-align: center;
      font-size: 2.1rem;
      font-weight: 800;
    }
    span {
      line-height: 1.1rem;
      font-size: 1rem;
      color: #74798c;
    }
  }
}
